DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=complaints

SECRET_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_DEFAULT_REGION=
AWS_SES_SENDER_EMAIL=

WISE_TOKEN=
WISE_URL=https://api.wise-sandbox.com
WISE_EUR_BALANCE_ID=